body{
    font: 1.5rem;
}
.column{
    columns: 4 250px;
    column-rule: 3px solid grey;
    column-gap: 2rem;
}
.column p{
    margin-top: 0;
}
.column h2{
    margin: 0;
    background-color: black;
    color: white;
    padding: 3rem;
    break-inside: avoid;
}
.column .quote{
    color: cadetblue;
    text-align: center;
    font-size: 2rem;
    column-span: all;
    margin: 1rem;
}
.noWrap{
    white-space: nowrap ;
}